# 2. Working With SQLAlchemy

**SQLAlchemy** is a powerful database access tool kit for Python, with its `object-relational mapper (ORM)` being one of its most famous components.

As we know, the RDBMS data model does not always match with the data model of Object Oriented Programming.
This problem is known as [object-relational impedance mismatch](https://en.wikipedia.org/wiki/Object-relational_impedance_mismatch).

The `ORM provided by SQLAlchemy sits between the database and your Python program and transforms the data flow between the database engine and Python objects`. SQLAlchemy allows you to think in terms of objects and still retain the powerful features of a database engine.


## 2.1 sqlalchemy basics

To start interacting with the database, we first need to establish a connection. In sqlalchemy, we can use below command

```python
import sqlalchemy as db

engine = db.create_engine('dialect+driver://user:pass@host:port/db')
```
As you can notice the most important part is the db url.
- dialect: defines which dialect sqlalchemy will use to talk to the db. For example if the db is `sqlite3` then the dialect should be `sqlite`. If the db is `postgres`, then the dialect should be `postgresql`.
- driver: is the actual engine which sqlalchemy will use to query the DB. For example, for postgresql, the most popular driver is `psycopg2`. For sqlite, you don't need to specify, because the module `sqlite3` is built in python

You can find the full supported dialect and driver list [here](https://docs.sqlalchemy.org/en/20/core/engines.html)

### 2.2 Creating tables

In [1]:
import sqlalchemy as db
import pandas as pd
from sqlalchemy import Table, Column, Integer, SmallInteger, DateTime, String, MetaData,ForeignKey, Text

In [2]:
test_db_path="../../../data/test.db"
# as the sqlite db is a local file, so we need `/`
# echo attribute will enable the console to display the actual SQL query run by the engine
engine = db.create_engine(f'sqlite:///{test_db_path}', echo=True)

In [3]:
metadata=MetaData()

cohort=Table('cohort',
             metadata,
             Column('id',Integer,primary_key=True),
             Column('cname',String)
             )

dataset=Table('dataset',
              metadata,
              Column('id',Integer,primary_key=True),
              Column('cohort_id',Integer,ForeignKey("cohort.id")),
              Column('year',Integer),
              Column('name',String),
              Column('location',String),
              Column('status',SmallInteger)
              )
descriptor=Table('descriptor',
                 metadata,
                 Column('id',Integer,primary_key=True),
                 Column('name',String),
                 Column('location',String),
                 Column('dataset_id',Integer,ForeignKey("dataset.id"))
                 )

validation_rule=Table('validation_rule',
                      metadata,
                      Column('id',Integer,primary_key=True),
                      Column('name',String),
                      Column('description',Text),
                      Column('args',String),
                      Column('kwargs',String)
                      )

validation_task=Table('validation_task',
                      metadata,
                      Column('id',Integer,primary_key=True),
                      Column('starting_date',DateTime),
                      Column('ending_date',DateTime),
                      Column('dataset_id',Integer,ForeignKey("dataset.id")),
                      Column('validation_rule_id',Integer,ForeignKey("validation_rule.id")),
                      Column('task_status',SmallInteger),
                      Column('output',Text)
                      )

In [4]:
# create_all() function uses the engine object to create all the defined table objects and stores the information in metadata.
metadata.create_all(engine)

2022-12-13 14:24:56,955 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-12-13 14:24:56,959 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("cohort")
2022-12-13 14:24:56,960 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:24:56,961 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("dataset")
2022-12-13 14:24:56,968 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:24:56,969 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("descriptor")
2022-12-13 14:24:56,970 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:24:56,970 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("validation_rule")
2022-12-13 14:24:56,970 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:24:56,971 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("validation_task")
2022-12-13 14:24:56,971 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:24:56,972 INFO sqlalchemy.engine.Engine COMMIT

### 2.3 Viewing existing tables

With above code, we have created five tables, now we want to check/view them

In [5]:
connection = engine.connect()
# create a new metadata of the DB. Because the old meta has already the table info.
db_metadata = db.MetaData()
# by default metadata only contains the information which you tell. If you have no idea, use the
# table reflection method. SQLAlchemy will then inspect the database and update the metadata
# with all existing tables.
db_metadata.reflect(engine)
print(f"all existing tables: {db_metadata.tables.keys()} ")

2022-12-13 14:25:04,368 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-12-13 14:25:04,370 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,375 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("cohort")
2022-12-13 14:25:04,376 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,377 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,377 INFO sqlalchemy.engine.Engine [raw sql] ('cohort',)
2022-12-13 14:25:04,378 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("cohort")
2022-12-13 14:25:04,379 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,380 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("cohort")
2022-12-13 14:25:04,381 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,391 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,394 INFO sqlalchemy.engine.Engine [raw sql] ('cohort',)
2022-12-13 14:25:04,395 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("cohort")
2022-12-13 14:25:04,396 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,400 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("cohort")
2022-12-13 14:25:04,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,404 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("cohort")
2022-12-13 14:25:04,404 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,405 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("cohort")
2022-12-13 14:25:04,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,406 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,406 INFO sqlalchemy.engine.Engine [raw sql] ('cohort',)
2022-12-13 14:25:04,408 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("dataset")
2022-12-13 14:25:04,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,414 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,414 INFO sqlalchemy.engine.Engine [raw sql] ('dataset',)
2022-12-13 14:25:04,415 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("dataset")
2022-12-13 14:25:04,416 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,417 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,417 INFO sqlalchemy.engine.Engine [raw sql] ('dataset',)
2022-12-13 14:25:04,419 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("dataset")
2022-12-13 14:25:04,419 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,424 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("dataset")
2022-12-13 14:25:04,425 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,426 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("dataset")
2022-12-13 14:25:04,426 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,427 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("dataset")
2022-12-13 14:25:04,428 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,428 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,429 INFO sqlalchemy.engine.Engine [raw sql] ('dataset',)
2022-12-13 14:25:04,434 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("descriptor")
2022-12-13 14:25:04,435 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,437 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,438 INFO sqlalchemy.engine.Engine [raw sql] ('descriptor',)
2022-12-13 14:25:04,439 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("descriptor")
2022-12-13 14:25:04,444 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,448 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,449 INFO sqlalchemy.engine.Engine [raw sql] ('descriptor',)
2022-12-13 14:25:04,454 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("descriptor")
2022-12-13 14:25:04,458 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,459 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("descriptor")
2022-12-13 14:25:04,462 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,462 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("descriptor")
2022-12-13 14:25:04,463 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,468 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("descriptor")
2022-12-13 14:25:04,469 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,469 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,478 INFO sqlalchemy.engine.Engine [raw sql] ('descriptor',)
2022-12-13 14:25:04,498 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("validation_rule")
2022-12-13 14:25:04,505 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,507 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,507 INFO sqlalchemy.engine.Engine [raw sql] ('validation_rule',)
2022-12-13 14:25:04,508 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("validation_rule")
2022-12-13 14:25:04,516 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,518 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("validation_rule")
2022-12-13 14:25:04,520 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,521 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,522 INFO sqlalchemy.engine.Engine [raw sql] ('validation_rule',)
2022-12-13 14:25:04,522 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("validation_rule")
2022-12-13 14:25:04,523 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,523 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("validation_rule")
2022-12-13 14:25:04,524 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,524 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("validation_rule")
2022-12-13 14:25:04,526 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,527 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("validation_rule")
2022-12-13 14:25:04,527 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,528 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,528 INFO sqlalchemy.engine.Engine [raw sql] ('validation_rule',)
2022-12-13 14:25:04,529 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("validation_task")
2022-12-13 14:25:04,529 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,530 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,531 INFO sqlalchemy.engine.Engine [raw sql] ('validation_task',)
2022-12-13 14:25:04,531 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("validation_task")
2022-12-13 14:25:04,532 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,532 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,541 INFO sqlalchemy.engine.Engine [raw sql] ('validation_task',)
2022-12-13 14:25:04,542 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("validation_task")
2022-12-13 14:25:04,549 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,550 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("validation_task")
2022-12-13 14:25:04,550 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,551 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("validation_task")
2022-12-13 14:25:04,554 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,565 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("validation_task")
2022-12-13 14:25:04,565 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-12-13 14:25:04,566 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-12-13 14:25:04,567 INFO sqlalchemy.engine.Engine [raw sql] ('validation_task',)
all existing tables: dict_keys(['cohort', 'dataset', 'descriptor', 'validation_rule', 'validation_task'])

In [6]:
# creat a mapping object of the table dataset
dataset = db.Table('dataset', metadata, autoload=True, autoload_with=engine)

# print all columns
print(f"all columns of table author {dataset.columns.keys()}")

all columns of table author ['id', 'cohort_id', 'year', 'name', 'location', 'status']

In [7]:
# creat a mapping object of the table dataset
cohort = db.Table('cohort', metadata, autoload=True, autoload_with=engine)

# print all columns
print(f"all columns of table author {cohort.columns.keys()}")

all columns of table author ['id', 'cname']

### 2.4 Insert rows to a table

We have created tables, but they are empty, we need to populate these tables by inserting rows.

In [23]:
# we can insert record one by one
query=db.insert(cohort).values(id=1,cname="casd")
res=connection.execute(query)
print(res)

<sqlalchemy.engine.cursor.LegacyCursorResult object at 0x7f5095fe2d30>

In [24]:
# we can insert multiple records at once
query=db.insert(cohort)
values=[{'id':2,'cname':'toto'},
        {'id':3,'cname':'titi'}]
res=connection.execute(query,values)

In [28]:
results=connection.execute(db.select([cohort])).fetchall()

In [29]:
df=pd.DataFrame(results)
df.head()

   id cname
0   1  casd
1   2  toto
2   3  titi

In [30]:
# insert some dataset
query=db.insert(dataset)
values=[{'id':1,'cohort_id':1,'year':1983,'name':'cancer_clinical.csv','location':'s3a://minio.casd.local/constance/casd','status':1},
        {'id':2,'cohort_id':1,'year':1984,'name':'cancer_clinical.csv','location':'s3a://minio.casd.local/constance/casd','status':1},
        {'id':3,'cohort_id':2,'year':2002,'name':'drug_test.parquet','location':'s3a://minio.casd.local/constance/insern','status':1}]
res=connection.execute(query,values)

In [31]:
results=connection.execute(db.select([dataset])).fetchall()

In [32]:
df=pd.DataFrame(results)
df.head()

,id,cohort_id,year,name,location,status
0,1,1,1983,cancer_clinical.csv,s3a://minio.casd.local/constance/casd,1
1,2,1,1984,cancer_clinical.csv,s3a://minio.casd.local/constance/casd,1
2,3,2,2002,drug_test.parquet,s3a://minio.casd.local/constance/insern,1

## 2.5 Selecting rows

The **select()** method of table object allow us to select specific columns of a table

In [8]:
# creat a mapping object of the table dataset
dataset = db.Table('dataset', metadata, autoload=True, autoload_with=engine)

In [11]:
query=dataset.select()
result=connection.execute(query)

2022-12-13 14:27:02,699 INFO sqlalchemy.engine.Engine SELECT dataset.id, dataset.cohort_id, dataset.year, dataset.name, dataset.location, dataset.status
FROM dataset
2022-12-13 14:27:02,701 INFO sqlalchemy.engine.Engine [cached since 82.02s ago] ()

In [12]:
for row in result:
    print(row)

(1, 1, 1983, 'cancer_clinical.csv', 's3a://minio.casd.local/constance/casd', 1)
(2, 1, 1984, 'cancer_clinical.csv', 's3a://minio.casd.local/constance/casd', 1)
(3, 2, 2002, 'drug_test.parquet', 's3a://minio.casd.local/constance/insern', 1)

We can also filter the result returned by the select() statement by using **where()** function.

In [13]:
query=dataset.select().where(dataset.c.cohort_id==1)
result=connection.execute(query)

2022-12-13 14:30:59,978 INFO sqlalchemy.engine.Engine SELECT dataset.id, dataset.cohort_id, dataset.year, dataset.name, dataset.location, dataset.status
FROM dataset
WHERE dataset.cohort_id = ?
2022-12-13 14:30:59,979 INFO sqlalchemy.engine.Engine [generated in 0.00091s] (1,)

In [14]:
for row in result:
    print(row)

(1, 1, 1983, 'cancer_clinical.csv', 's3a://minio.casd.local/constance/casd', 1)
(2, 1, 1984, 'cancer_clinical.csv', 's3a://minio.casd.local/constance/casd', 1)

## Using Joins

We can use the **join()** and **outerjoin()** function to realize sql join operations. The general form is
```python
# df_left: a table object which is the left side of the join
# df_right: a table object which is the right side of the join;
# onclause: SQL expression representing the ON clause of the join. If None, it attempts to join the two tables based on a foreign key relationship

# isouter: if True, renders a LEFT OUTER JOIN, instead of JOIN
# full: if True, renders a FULL OUTER JOIN, instead of LEFT OUTER JOIN
df_left.join(df_right,onclause=None,isouter=False,full=False)

```

## 2.2  The Model

The SQLAlchemy model is a Python class defining the data mapping between the Python objects returned as a result of a database query and the underlying database tables.

In the `entity-relationship diagram`, all boxes will be represented by a table (Python classes) in the model. The arrows are the relationships between the tables.

The tables in the model are Python classes inheriting from an `SQLAlchemy Base class`. The Base class provides the interface operations between instances of the model and the database table

In [ ]:
db_path="../../../data/author_book_publisher.db"
# creates the Base class, which is what all models inherit from and how they
# get SQLAlchemy ORM functionality.
Base = declarative_base()

In [ ]:
from sqlalchemy import

# create the author_publisher association table model.
author_publisher = Table(
    # table name
    "author_publisher",
    # Base.metadata provides the connection between the SQLAlchemy functionality and the database engine.
    Base.metadata,
    # column description: name, type, if foreign key, need to add a foreign key reference
    # This reference creates a a dependency between two Column fields in different tables.
    # A ForeignKey is how you make SQLAlchemy aware of the relationships between tables.
    # Below code defines author_id is a foreign key related to the primary key in the author table.
    Column("author_id", Integer, ForeignKey("author.author_id")),
    Column("publisher_id", Integer, ForeignKey("publisher.publisher_id")),
)

In [ ]:
# create the book_publisher association table model.
book_publisher = Table(
    "book_publisher",
    Base.metadata,
    Column("book_id", Integer, ForeignKey("book.book_id")),
    Column("publisher_id", Integer, ForeignKey("publisher.publisher_id")),
)

In [ ]:
# define the Author class model to the author database table.
class Author(Base):
    __tablename__ = "author"
    author_id = Column(Integer, primary_key=True)
    first_name = Column(String)
    last_name = Column(String)
    # One to many relation
    # Having a ForeignKey defines the existence of the relationship between tables but not
    # the collection of books an author can have.
    # Below code defines a parent-child collection. The books attribute being plural
    # (which is not a requirement, just a convention) is an indication that it’s a collection.
    # The first parameter is the class name Book (which is not the table name book), is the class to
    # which the books attribute is related. The relationship informs SQLAlchemy that there’s a relationship
    # between the **Author and Book classes**. SQLAlchemy will find the relationship in the Book class
    # definition (line 3 of book class)
    # The backref parameter creates an author attribute for each Book instance. This attribute refers to
    # the parent Author that the Book instance is related to.
    books = relationship("Book", backref=backref("author"))

    # Many to many relation
    # The first parameter, "Publisher", informs SQLAlchemy what the related class is.
    # "secondary" tells SQLAlchemy that the relationship to the Publisher class is through a secondary table,
    # which is the author_publisher association table. It makes SQLAlchemy find the publisher_id ForeignKey
    # defined in the author_publisher association table
    # back_populates is a convenience configuration telling SQLAlchemy that there’s a complementary collection
    # in the Publisher class called authors.
    publishers = relationship(
        "Publisher", secondary=author_publisher, back_populates="authors"
    )

In [ ]:
# define the Book class model to the book database table.
class Book(Base):
    __tablename__ = "book"
    book_id = Column(Integer, primary_key=True)
    author_id = Column(Integer, ForeignKey("author.author_id"))
    title = Column(String)
    publishers = relationship(
        "Publisher", secondary=book_publisher, back_populates="books"
    )

In [ ]:
# define the Publisher class model to the publisher database table.
class Publisher(Base):
    __tablename__ = "publisher"
    publisher_id = Column(Integer, primary_key=True)
    name = Column(String)
    authors = relationship(
        "Author", secondary=author_publisher, back_populates="publishers"
    )
    books = relationship(
        "Book", secondary=book_publisher, back_populates="publishers"
    )